extends ../../shared/layout_index

block content
 .container
  .row
   .col-xs-12.col-md-10.col-md-offset-1
    h1.index-header Marketing Communications <br /> for the Health Industry
    p.index-slogan.text-uppercase.strong Atractant is a new reliable tool for b2b communications with healthcare professionals
