extends ../../shared/layout

block content
    .container-fluid
        .row
            .col-xs-12.col-md-12
                h1.text-uppercase= title
                p.text-uppercase
                  a.btn.btn-danger.google-plus(href="/auth/google")
                   i.fa.fa-google-plus
                   strong &nbsp;&nbsp;google login
