extends ../../shared/layout

block content
    .container-fluid
        .row
            .col-xs-12.col-md-12
                h1.text-uppercase style library
                p.text-uppercase Welcome to the  #{title} template style library
