extends ../../shared/layout_no_nav

block content
    .container-fluid
        .row
            .col-xs-12.col-md-12
                h1.text-uppercase= title
                p.text-uppercase Welcome to the  #{title} template.  #{user.name}
                p.text-uppercase
                  a.btn.btn-danger.google-plus(href="/auth/logout")
                   strong &nbsp;&nbsp; logout